@{
    ViewData["Title"] = "Home - Andoni";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sitio Pruebas de Andoni</h1>
    <p>¡Hola! <a href="https://www.linkedin.com/in/andoni-barba-noe-894460184/">Estoy haciendo Pruebas... no me contactes</a>.</p>
</div>
